@using Penman.Blazor.Quill.Internal
@using Majorsoft.Blazor.Components.Common.JsInterop.Scroll
@using Majorsoft.Blazor.Components.Common.JsInterop
@using Majorsoft.Blazor.Components.Common.JsInterop.ElementInfo
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable
@inject IScrollHandler ScrollHandler
@namespace Penman.Blazor.Quill
<div id="editor-container">
    <div @ref="@_toolBar" id="toolBar" class="@CalculateToolBarClass(Toolbar)">
        @if (Toolbar != null)
        {
            <CascadingValue Value="Toolbar">
                <CascadingValue Value="Fonts">
                    <ToolbarContentComposer></ToolbarContentComposer>
                </CascadingValue>
            </CascadingValue>
        }
        @ToolbarContent
    </div>
    <div id="editor" @ref="@_quillElement">
        @EditorContent
    </div>
</div>

@code {
    [Parameter]
    public Toolbar Toolbar { get; set; }
    [Parameter]
    public List<string> Fonts { get; set; }

    [Parameter]
    public bool StickyToolBar { get; set; } = false;

    [Parameter]
    public RenderFragment EditorContent { get; set; }

    [Parameter]
    public RenderFragment ToolbarContent { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }
        = false;

    [Parameter]
    public string Placeholder { get; set; }
        = "Compose an epic...";

    [Parameter]
    public EditorTheme Theme { get; set; } = EditorTheme.Snow;


    [Parameter]
    public string DebugLevel { get; set; }
        = "info";

    private ElementReference _quillElement;
    private ElementReference _toolBar;
    private string _scrollEventId = null;
    private ElementReference _scrollToView;
    private ElementReference _log;
    private string _logMessage;
    private double _pageScrolledY;


    protected override async Task
        OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Interop.CreateQuill(
                JsRuntime,
                _quillElement,
                _toolBar,
                ReadOnly,
                Placeholder,
                Theme.ToString().ToLower(),
                DebugLevel, Fonts);
        }

        await ScrollEventHandler();
    }

    private async Task ScrollEventHandler()
    {
        if (StickyToolBar)
        {
            _scrollEventId = await ScrollHandler.RegisterPageScrollAsync(PageScrolled);
        }
    }


    private async Task PageScrolled(ScrollEventArgs args)
    {
        _pageScrolledY = args.Y;

        await _toolBar.ScrollToYAsync(_pageScrolledY);
        StateHasChanged();
    }

    public async Task<string> GetText()
    {
        return await Interop.GetText(
            JsRuntime, _quillElement);
    }

    public async Task<string> GetHtml()
    {
        return await Interop.GetHtml(
            JsRuntime, _quillElement);
    }

    public async Task<string> GetContent()
    {
        return await Interop.GetContent(
            JsRuntime, _quillElement);
    }

    public async Task LoadContent(string content)
    {
        await Interop.LoadQuillContent(
            JsRuntime, _quillElement, content);
    }

    public async Task LoadHtmlContent(string quillHtmlContent)
    {
        await Interop.LoadQuillHtmlContent(
            JsRuntime, _quillElement, quillHtmlContent);
    }

    public async Task InsertImage(string imageUrl)
    {
        await Interop.InsertQuillImage(
            JsRuntime, _quillElement, imageUrl);
    }

    public async Task EnableEditor(bool mode)
    {
        await Interop.EnableQuillEditor(
            JsRuntime, _quillElement, mode);
    }

    private string CalculateToolBarClass(Toolbar toolbar)
    {
        var retVal = "toolbar";
       
        if (Theme.Equals(EditorTheme.Bubble))
        {
            return "";
        }

        if (StickyToolBar)
        {
            retVal += " sticky";
        }

        return retVal;
    }

    public async ValueTask DisposeAsync()
    {
        if (ScrollHandler is not null)
        {
            await ScrollHandler.DisposeAsync();
        }
    }
}

