.toolbar {
    height: 40px;
    border-bottom: 2px solid;
}

    .toolbar.sticky {
        position: fixed;
        width: 84vw;
        max-width: 84vw;
        z-index: 2;
        background-color: rgba(255,255,255,0.9);
    }

.toolbar.sticky + #editor {
    padding-top: 40px;
}